<!DOCTYPE html>
<html>
<head>
    <title>简单云盘-首页</title>
    <!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->
    <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
    <script src="/static/layui/layui.js"></script>
    <script src="/static/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // 监听文件上传表单的提交事件
            $('#upload-form').submit(function(event) {
                event.preventDefault(); // 阻止表单默认提交行为
                var formData = new FormData(this);

                $.ajax({
                    url: '/upload',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    xhr: function() {
                        var xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener('progress', function(e) {
                            if (e.lengthComputable) {
                                var percent = Math.round((e.loaded / e.total) * 100);
                                $('#progress-bar').css('width', percent + '%').text(percent + '%');
                            }
                        });
                        return xhr;
                    },
                    success: function() {
                        location.reload(); // 上传完成后刷新页面
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="h1">
    <h1>简单云盘-首页</h1>
    {% if username %}
        <h2>欢迎，{{ username }}！</h2>
        <h3>文件列表：</h3>
        <ul>
            {% for file in files %}
                <li>{{ file }} <a href="/download/{{ username }}/{{ file }}">直接下载</a> <a href="/delete/{{ username }}/{{ file }}">永久删除</a> <a href="/viewer/{{ username }}/{{ file }}">在线浏览</a></li>
            {% endfor %}
        </ul>
        <h3>上传文件：</h3>
        <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="上传">
        </form>
        <div class="layui-progress layui-progress-big " lay-showpercent="true">
            <div id="progress-bar" class="layui-progress-bar" lay-percent="0%" style="width: 0%;"></div>
        </div>
        <h3>退出：</h3>
        <a href="/logout">退出登录</a>
    {% else %}
        <p>请先<a href="/login">登录</a>。</p>
    {% endif %}
    </div>
</body>
</html>